.Footer{
    height: 200px;
    max-width: 1240px;
    background: #000000;
    display:  flex;
    margin: auto;
    flex-direction: column;
    margin-top: 150px;
}

.FooterLogo{
    height: 30px;
    width: 26px;
    margin: auto;
    margin-left: 45%;
}

.FooterCopyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin: auto
}