.Header{
    display: flex;
    max-width: 1240px;
    max-height: 68px;
    flex-direction: row;
justify-content: space-between;
margin: auto;
margin-top: 50px;
}

.HeaderLogo{
    height: 68px;
    width: 210px;
    z-index: 10;
}

.Header_Ul{
    width: 280px
}
.Header_Ul ul{
    list-style-type: none;
    display: flex;
flex-direction: row;
justify-content: space-between;
}

.HeaderLi{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060 !important;
}

.HeaderLi a{
    text-decoration: none;
    color: #FF6060;
}

.HeaderLi a:hover{
    border-bottom: 3px solid #FF6060;
}