.BannerHero{
    max-width: 1240px;
    /* max-height: 223px; */
    margin: auto; 
    margin-top: 75px;
    margin-bottom: 30px;
}

.BannerHeroImg{
    /* max-width: 1240px;
    max-height: 223px; */
    border-radius: 25px;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.BannerHeroText{
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    color: #FFFFFF;
    position: absolute;
    top: 230px;
left: 35%;
    font-family: 'Montserrat', sans-serif;
}