.DropDown2{
    font-family: 'Montserrat', sans-serif;
   
    max-width: 45%;
    width: 100%;
}

.DropDownTitle2{
    background-color: #FF6060;
    border-radius: 10px;
    height: 32px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    width: 100%;
    padding-left: 10px;
}

.DropDownTitle2 p{
    margin-left: 10px;
    padding-top: 7px;
    width: 100%;
    
}

.DropDownDescription2{
    background-color:#F7F7F7;
    color: #FF6060;
    font-size: 20px;
    border-radius: 10px;
    margin-top: -20px;
    min-height: 125%;
    min-height: 80%;
    
}

.DropDownDescription2 p{
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    padding: 30px;
}

.DropDownDescription2 ul{
    list-style: none;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    padding: 30px;
}