.DropDown{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 5px;
}

.DropDownTitle{
    background-color: #FF6060;
    border-radius: 5px;
    height: 32px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

.DropDownTitle ul{
    margin-left: 10px;
    padding-top: 7px;
}

.DropDownDescription{
    background-color:#F7F7F7;
    color: #FF6060;
    font-size: 20px;
    border-radius: 5px;
    margin-top: -20px;
    
}

.DropDownDescription ul{
    padding: 15px;
    list-style-type: none;
    
}

.DropDownChevron{
    display: flex;
}

.AngleDown{
    color: white;
    position: relative;
    right: 25px;
    top: 1px;
    height: 30px;
}
.rotation{
    rotate: 180deg;
}